.urlShorter {
  font-size: 1.5rem;
  &__form__url {
    display: flex;
    gap: 10px;
    > input {
      flex-grow: 1;
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}
caption {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
